USE [master]
GO
/****** Object:  Database [asc]    Script Date: 21/07/2017 14:37:16 ******/
CREATE DATABASE [asc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'asc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\asc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'asc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\asc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [asc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [asc]
GO
USE [asc]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 21/07/2017 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[id] [int] NOT NULL,
	[title] [varchar](255) NULL,
	[photo] [varchar](max) NULL,
	[date] [datetime] NULL,
	[category_id] [int] NULL,
	[dec] [varchar](255) NULL,
	[text] [text] NULL,
 CONSTRAINT [PK_blog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_category]    Script Date: 21/07/2017 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_category](
	[id] [int] NOT NULL,
	[name] [varchar](255) NULL,
 CONSTRAINT [PK_blog_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cartoon]    Script Date: 21/07/2017 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cartoon](
	[id] [int] NOT NULL,
	[title] [varchar](255) NULL,
	[photo] [varchar](max) NULL,
	[text] [text] NULL,
	[video_url] [varchar](255) NULL,
 CONSTRAINT [PK_cartoon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[edu_categories]    Script Date: 21/07/2017 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[edu_categories](
	[id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[sira] [int] NULL,
 CONSTRAINT [PK_edu_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[education]    Script Date: 21/07/2017 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[education](
	[id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[edu_cat_id] [int] NULL,
	[text] [text] NULL,
 CONSTRAINT [PK_education] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food_categories]    Script Date: 21/07/2017 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_categories](
	[id] [int] NOT NULL,
	[sira] [int] NULL,
	[name] [varchar](255) NULL,
 CONSTRAINT [PK_food_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[foods]    Script Date: 21/07/2017 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foods](
	[id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[category_id] [int] NULL,
	[text] [text] NULL,
 CONSTRAINT [PK_foods] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gym_blog]    Script Date: 21/07/2017 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gym_blog](
	[id] [int] NOT NULL,
	[title] [varchar](255) NULL,
	[photo] [varchar](max) NULL,
	[description] [varchar](255) NULL,
	[text] [text] NULL,
 CONSTRAINT [PK_gym_blog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[health_staff]    Script Date: 21/07/2017 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[health_staff](
	[id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[profession] [varchar](255) NULL,
	[photo] [varchar](255) NULL,
	[text_about] [varchar](255) NULL,
	[instagram] [varchar](255) NULL,
	[facebook] [varchar](255) NULL,
 CONSTRAINT [PK_health_staff] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idman_kompp]    Script Date: 21/07/2017 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idman_kompp](
	[id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[photo] [varchar](255) NULL,
	[facebook] [varchar](255) NULL,
	[instagram] [varchar](255) NULL,
 CONSTRAINT [PK_idman_kompp] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lettrs]    Script Date: 21/07/2017 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lettrs](
	[id] [int] NOT NULL,
	[name] [varchar](1) NULL,
 CONSTRAINT [PK_lettrs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[names]    Script Date: 21/07/2017 14:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[names](
	[id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[lettrs_id] [int] NULL,
	[decription] [text] NULL,
	[type] [int] NULL,
 CONSTRAINT [PK_names] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [FK_blog_blog_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[blog_category] ([id])
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [FK_blog_blog_category]
GO
ALTER TABLE [dbo].[education]  WITH CHECK ADD  CONSTRAINT [FK_education_edu_categories] FOREIGN KEY([edu_cat_id])
REFERENCES [dbo].[edu_categories] ([id])
GO
ALTER TABLE [dbo].[education] CHECK CONSTRAINT [FK_education_edu_categories]
GO
ALTER TABLE [dbo].[foods]  WITH CHECK ADD  CONSTRAINT [FK_foods_food_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[food_categories] ([id])
GO
ALTER TABLE [dbo].[foods] CHECK CONSTRAINT [FK_foods_food_categories]
GO
ALTER TABLE [dbo].[names]  WITH CHECK ADD  CONSTRAINT [FK_names_lettrs] FOREIGN KEY([lettrs_id])
REFERENCES [dbo].[lettrs] ([id])
GO
ALTER TABLE [dbo].[names] CHECK CONSTRAINT [FK_names_lettrs]
GO
USE [master]
GO
