
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cizgiCss{
    <link rel="stylesheet" href="~/asc_temp/css/cizgi.css">
}

<div class="wrapper">
    <!--pepe content starts-->

    <div id="main">
        <!--breadcrumb-section starts-->
        <div class="breadcrumb-section">
            <div class="container">
                <h1>Pepe</h1>
                <div class="breadcrumb">
                    <a href="index.html" class="dark-purple">Home</a>
                    <span class="fa fa-angle-double-right"></span>
                    <span class="current dark-purple">Pepe</span>
                </div>
            </div>
        </div>
        <!--breadcrumb-section ends-->
        <!--container starts-->
        <div class="kidsbg">
            <div class="container">
                <!--primary starts-->
                <section id="primary" class="content-full-width">

                    <div class="column dt-sc-one-half first">
                        <article class="blog-entry">
                            <div class="blog-entry-inner">
                                <div class="entry-thumb">
                                    <a href="pepe.html"><img src="~/asc_temp/images/image1.jpg" alt="" title=""></a>
                                </div>
                                <div class="entry-details">
                                    <div class="entry-title">
                                        <h3><a href="pepe.html" class="dark-purple">Pepe </a></h3>
                                    </div>
                                    <!--entry-metadata ends-->
                                    <div class="entry-body">
                                        <p>
                                            Pepee mektəbəqədər uşaqlar üçün, xüsusi olaraq düşünülmüş cizgi film proyektidir.
                                            Pepee xarakteri, nitq qüsuru olan 4 yaşında bir oğlan uşağıdır. ve xarakterin
                                            adı Anadoluda nitq qüsuru olan insanlara qoyulan “pepe” sözündə gəlir. Pepee,
                                            cizgi filmin irəliləyən bölümlərində nitq qüsurunu düzəldib düzgün danışmağa
                                            başlayır. Cizgi filmde bacısını çox sevir. Cizgi filmin digər qəhərəmanları
                                            arasında Pepenin anası, atası, babası, nənəsi, bacısı Bebe, dostları Zulu,
                                            Maymuş, Zuku vardır.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </article>
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/QNcuxXA4x-U?list=PLa6oxKxA7YkgCd4jX5fHARVwE6lz0Zwh9"
                            class="pepemargin" frameborder="0" allowfullscreen></iframe>


                </section>
                <!--primary ends-->
            </div>
        </div>
        <!--container ends-->

    </div>
    <!--pepe content ends-->

</div>

