
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section idmanCss{

@*<link href="~/asc_temp/css/themify-icons.css" rel="stylesheet" type="text/css">*@
@*<link href="~/asc_temp/css/bootstrap.css" rel="stylesheet" type="text/css">*@
<link href="~/asc_temp/css/slick.css" rel="stylesheet" type="text/css">
@*<link href="~/asc_temp/css/magnific-popup.css" rel="stylesheet" type="text/css">*@
<link href="~/asc_temp/css/gym.css" rel="stylesheet" type="text/css">
}

  <!-- Search Box Start -->
<!--  ===================== Search Box End =====================  -->
<!--  ===================== Hero Section Start =====================  -->

<!--  =====================  Hero Section End  =====================  -->
<!--  =====================  About Section Start  =====================  -->
<section id="gymm " style="clear:both" >
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-container">
                        <h6>Lorem Ipsum Dolor</h6>
                        <h3>Sağlamlıq haqqında.</h3>
                        <span class="partition"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 text-center">
                    <img src="~/asc_temp/images/about.jpg" alt="" />

                </div>
                <div class="col-md-6 col-md-offset-0 col-sm-12 col-sm-offset-0">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consectetur adipisicing elit, sed do adipisicing
                        elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, sed
                        do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consectetur adipisicing elit, sed do adipisicing
                        elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet.
                    </p>
                    <h6>Lorem ipsum dolor sit amet</h6>
                    <p>
                        Consectetur adipisicing elit, sed do adipisicing elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod Lorem ipsum dolor sit amet, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod Lorem ipsum dolor sit amet.
                    </p>



                </div>
            </div>
        </div>
    </section>
    <!-- =====================  About Section End  ===================== -->
    <!-- =====================  Classes Section Start  ===================== -->
    <section class="section grey-bg" id="classes">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-container">
                        <h6>Lorem Ipsum Dolor</h6>
                        <h3>Növlər.</h3>
                        <span class="partition"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="class-list">
                        <li>
                            <div class="class-box">
                                <img src="~/asc_temp/images/class1.jpg" alt="" />
                                <div class="class-box-content">
                                    <h4>Üzgüçülük</h4>
                                    <p>Mon - Fri 5:30 - 7:30 am / Cavi</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="class-box">
                                <img src="~/asc_temp/images/class2.jpg" alt="" />
                                <div class="class-box-content">
                                    <h4>Yoga</h4>
                                    <p>Mon - Fri 5:30 - 7:30 am / Cavi</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="class-box">
                                <img src="~/asc_temp/images/class3.jpg" alt="" />
                                <div class="class-box-content">
                                    <h4>Qaçış</h4>
                                    <p>Mon - Fri 5:30 - 7:30 am / Cavi</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="class-box">
                                <img src="~/asc_temp/images/class4.jpg" alt="" />
                                <div class="class-box-content">
                                    <h4>Velosiped sürmək</h4>
                                    <p>Mon - Fri 5:30 - 7:30 am / Cavi</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="class-box">
                                <img src="~/asc_temp/images/class5.jpg" alt="" />
                                <div class="class-box-content">
                                    <h4>Futbol</h4>
                                    <p>Mon - Fri 5:30 - 7:30 am / Cavi</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="class-box">
                                <img src="~/asc_temp/images/class6.jpg" alt="" />
                                <div class="class-box-content">
                                    <h4>Taekwondo</h4>
                                    <p>Mon - Fri 5:30 - 7:30 am / Cavi</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- =====================  Classes Section End  ===================== -->
    <!-- =====================  Video Section Start  ===================== -->
    <section class="video-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-container">
                        <h6>Lorem Ipsum Dolor</h6>
                        <h3>Lorem.</h3>
                        <span class="partition"></span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipctetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod ed do eiusmod
                        </p>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>
    <!-- =====================  Video Section End  ===================== -->
    <!-- =====================  Trainer Section Start  ===================== -->
    <section class="section clearfix" id="trainer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-container">
                        <h6>Lorem Ipsum Dolor</h6>
                        <h3>İdman Kompleksləri.</h3>
                        <span class="partition"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="trainer-list">
                        <li>
                            <div class="trainer-box">
                                <div class="trainer-img"><img src="~/asc_temp/images/trainer1.jpg" alt=""></div>
                                <div class="trainer-details">
                                    <h6>Sərhədçi</h6>
                                    <ul class="trainer-social">
                                        <li><a href="#" target="_blank"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ti-linkedin"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ti-google"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="trainer-box">
                                <div class="trainer-img"><img src="~/asc_temp/images/trainer2.jpg" alt=""></div>
                                <div class="trainer-details">
                                    <h6>Sərhədçi</h6>
                                    <ul class="trainer-social">
                                        <li><a href="#" target="_blank"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ti-linkedin"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ti-google"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="trainer-box">
                                <div class="trainer-img"><img src="~/asc_temp/images/trainer3.jpg" alt=""></div>
                                <div class="trainer-details">
                                    <h6>Sərhədçi</h6>
                                    <ul class="trainer-social">
                                        <li><a href="#" target="_blank"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ti-linkedin"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ti-google"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="trainer-box">
                                <div class="trainer-img"><img src="~/asc_temp/images/trainer4.jpg" alt=""></div>
                                <div class="trainer-details">
                                    <h6>Sərhədçi</h6>
                                    <ul class="trainer-social">
                                        <li><a href="#" target="_blank"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ti-linkedin"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="ti-google"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </section>

</section>

