
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section nameCss{
    <link rel="stylesheet" href="~/asc_temp/css/name.css">
}


<!--name class starts-->
<div class="name">
    <div class="container">
        <div class="baby baby-girl-name">
            <div class="baby-category-heading">
                <h1 class="text-center">
                    Qız adları
                    <img src="~/asc_temp/images/mypics/baby-feet-pink.png" alt="">
                </h1>
            </div>
            <div class="baby_names">
                <ul class="text-center">
                    <li>
                        <a href="#">A</a>
                    </li>
                    <li>
                        <a href="#">B</a>
                    </li>
                    <li>
                        <a href="#">C</a>
                    </li>
                    <li>
                        <a href="#">Ç</a>
                    </li>
                    <li>
                        <a href="#">D</a>
                    </li>
                    <li>
                        <a href="#">E</a>
                    </li>
                    <li>
                        <a href="#">Ə</a>
                    </li>
                    <li>
                        <a href="#">F</a>
                    </li>
                    <li>
                        <a href="#">G</a>
                    </li>
                    <li>
                        <a href="#">H</a>
                    </li>
                    <li>
                        <a href="#">X</a>
                    </li>
                    <li>
                        <a href="#">İ</a>
                    </li>
                    <li>
                        <a href="#">J</a>
                    </li>
                    <li>
                        <a href="#">K</a>
                    </li>
                    <li>
                        <a href="#">Q</a>
                    </li>
                    <li>
                        <a href="#">L</a>
                    </li>
                    <li>
                        <a href="#">M</a>
                    </li>
                    <li>
                        <a href="#">N</a>
                    </li>
                    <li>
                        <a href="#">O</a>
                    </li>
                    <li>
                        <a href="#">Ö</a>
                    </li>
                    <li>
                        <a href="#">P</a>
                    </li>
                    <li>
                        <a href="#">R</a>
                    </li>
                    <li>
                        <a href="#">S</a>
                    </li>
                    <li>
                        <a href="#">Ş</a>
                    </li>
                    <li>
                        <a href="#">T</a>
                    </li>
                    <li>
                        <a href="#">U</a>
                    </li>
                    <li>
                        <a href="#">Ü</a>
                    </li>
                    <li>
                        <a href="#">V</a>
                    </li>
                    <li>
                        <a href="#">Y</a>
                    </li>
                    <li>
                        <a href="#">Z</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="baby baby-boy-name">
            <div class="baby-category-heading">
                <h1 class="text-center">
                    Oğlan adları
                    <img src="~/asc_temp/images/mypics/boyf.png" alt="">
                </h1>
            </div>
            <div class="baby_names">
                <ul class="text-center">
                    <li>
                        <a href="#">A</a>
                    </li>
                    <li>
                        <a href="#">B</a>
                    </li>
                    <li>
                        <a href="#">C</a>
                    </li>
                    <li>
                        <a href="#">Ç</a>
                    </li>
                    <li>
                        <a href="#">D</a>
                    </li>
                    <li>
                        <a href="#">E</a>
                    </li>
                    <li>
                        <a href="#">Ə</a>
                    </li>
                    <li>
                        <a href="#">F</a>
                    </li>
                    <li>
                        <a href="#">G</a>
                    </li>
                    <li>
                        <a href="#">H</a>
                    </li>
                    <li>
                        <a href="#">X</a>
                    </li>
                    <li>
                        <a href="#">İ</a>
                    </li>
                    <li>
                        <a href="#">J</a>
                    </li>
                    <li>
                        <a href="#">K</a>
                    </li>
                    <li>
                        <a href="#">Q</a>
                    </li>
                    <li>
                        <a href="#">L</a>
                    </li>
                    <li>
                        <a href="#">M</a>
                    </li>
                    <li>
                        <a href="#">N</a>
                    </li>
                    <li>
                        <a href="#">O</a>
                    </li>
                    <li>
                        <a href="#">Ö</a>
                    </li>
                    <li>
                        <a href="#">P</a>
                    </li>
                    <li>
                        <a href="#">R</a>
                    </li>
                    <li>
                        <a href="#">S</a>
                    </li>
                    <li>
                        <a href="#">Ş</a>
                    </li>
                    <li>
                        <a href="#">T</a>
                    </li>
                    <li>
                        <a href="#">U</a>
                    </li>
                    <li>
                        <a href="#">Ü</a>
                    </li>
                    <li>
                        <a href="#">V</a>
                    </li>
                    <li>
                        <a href="#">Y</a>
                    </li>
                    <li>
                        <a href="#">Z</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--name class ends-->
